# This is Git's per-user configuration file.
[user]
    name = David Tillery
    email = djtillery@gmail.com

[github]
    user = dtillery

[color]
    branch = auto
    diff = auto
    status = auto
    ui = true

[core]
    whitespace = fix
    excludesfile = /Users/dtillery/.gitignore
